# ========================
# Node.js (server)
# ========================
node_modules/
server/package.json
server/package-lock.json

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs


# Build output
dist/
build/
.cache/
.tmp/




# ========================
# IDE & System files
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo


